@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Teko;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/woff/Teko-Medium.ttf") format("ttf");
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Teko;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.normal-inputs {
  width: 75%;
}
.MuiFormLabel-root {
  padding-right: 0 !important;
  font-size: 18px !important;
}

.bgload {
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-cont {
  display: grid;
  grid-template-columns: 8% 15% 18% 7% 7% 10% 10% 10% 10%;
  /* margin: 0 10 !important; */
  /* gap: 10px; */
}

@media screen and (max-width: 1550px) {
  .MuiFormLabel-root {
    font-size: 15px !important;
  }
}
@media screen {
}

.font-teko {
  font-family: Teko;
}
